.PlaylistListItem {
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}

.PlaylistListItem:hover {
    background-color: rgba(81, 0, 169, 1);
}

.PlaylistAction {
    cursor: pointer;
    padding: 0.5rem;
    transition: color .25s;
}

.PlaylistAction:hover {
    color: rgba(265, 265, 265, .5);
}

.PlaylistAction:active {
    color: rgba(265, 265, 265, .5);
    background-color: rgba(81, 0, 169, 1);
}

.PlaylistListItem-Information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
}

.PlaylistListItem-Information p {
    font-weight: 500; 
}